<div class="investimentos-home-container">
  <h1 class="uk-heading-divider">Investimentos FII</h1>
  <div>
    <button class="uk-button uk-button-primary">Adicionar FII</button>
  </div>
  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let investimentoFII of investimentosFII">
        <td>{{ investimentoFII.code }}</td>
        <td>{{ investimentoFII.name }}</td>
        <td>{{ getMaxValuePaid(investimentoFII) | currency: 'R$' }}</td>
        <td>{{ getQuantity(investimentoFII) }}</td>
        <td>
          <button class="uk-button uk-button-default" type="button">Ver</button>
          <a class="button-delete" uk-icon="icon: close"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
