<div class="uk-container">
    <div class="uk-flex">
        <div>
            <app-bill-modal></app-bill-modal>
        </div>
        <div>
            <a routerLink="add-user" class="uk-button uk-button-primary uk-margin-left">
                Adicionar Usuário
            </a>
        </div>
    </div>
    <div class="uk-flex total-container">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m">
            <h3 class="uk-card-title">Total</h3>
            <p>{{total()}}</p>
        </div>
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-4@m">
            <h3 class="uk-card-title">Total Receitas</h3>
            <p>{{total(1)}}</p>
        </div>
        <div class="uk-card uk-card-secondary uk-card-body uk-width-1-4@m">
            <h3 class="uk-card-title">Total Despesas</h3>
            <p>{{total(0)}}</p>
        </div>
    </div>
    <div class="table-container">
        <table class="uk-table uk-table-small uk-table-divider uk-table-responsive">
            <thead>
                <tr>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of bills" [ngClass]="{'despesa': bill.type==0, 'receita': bill.type==1}">
                    <td>{{bill.value | currency: 'R$'}}</td>
                    <td>{{bill.date.toDate() | date:'dd/MM/yyyy'}}</td>
                    <td class="table-description">{{bill.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>