.uk-container {
    padding: 2vh 2vw;

    .despesa {
        background-color: #ff5858;
        color: white;
    }

    .receita {
        background-color: #53fdde;
    }

    .table-container {
        margin-top: 30px;

        .table-description {
            overflow: hidden!important;
        }
    }

    .total-container {
        margin-top: 30px;
        .uk-card {
            margin-left: 20px;
        }
        @media screen and (max-width: 400px) {
            flex-direction: column;
            .uk-card {
                margin-left: 0px;
            }
        }
    }
}