<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Investimentos</a></li>
            <li><a href="#">Contas</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-inline">
            <button class="uk-button uk-button-default uk-button-primary" type="button">
                Kilt
            </button>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Trocar de usuários</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>