<div class="investimentos-add-container">
    <div>
        <a routerLink="/" class="uk-button uk-button-secondary">Voltar</a>
    </div>
    <div class="form-container uk-flex uk-flex-center">
        <form #form="ngForm" class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <h3>Adicionar Investimento</h3>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Nome</label>
                    <div class="uk-form-controls">
                        <input name="name" [(ngModel)]="investimentoForm.name" required class="uk-input" type="text" />
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Código</label>
                    <div class="uk-form-controls">
                        <input name="code" [(ngModel)]="investimentoForm.code" class="uk-input" type="text" />
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Valor Atual</label>
                    <div class="uk-form-controls">
                        <input name="value" [(ngModel)]="investimentoForm.value" class="uk-input" type="number" />
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Tipo</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="type" [(ngModel)]="investimentoForm.type">
                            <option value="" selected disabled hidden>Escolher...</option>
                            <option value="0">Ação</option>
                            <option value="1">FII</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Transações</label>
                    <div class="uk-width-1-1">
                        <a uk-toggle="target: #transactions-modal" uk-icon="icon: plus-circle">Adicionar </a>
                    </div>
                </div>
            </div>
            <!-- <div class="uk-width-1-1">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Rendimentos</label>

                    <div class="transaction-container" *ngFor="let income of investimentoForm?.incomes; let i = index">
                        <div class="uk-margin transaction-input">
                            <input placeholder="Valor" name="value_paid_{{i}}" #code="ngModel"
                                [(ngModel)]="income.value_paid" class="uk-input" type="number" required />
                        </div>
                        <div class="uk-margin transaction-input">
                            <input placeholder="Data" name="quantity_{{i}}" [(ngModel)]="income.quantity"
                                class="uk-input" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" required />
                        </div>
                        <div class="uk-margin transaction-input">
                            <a (click)="removeIncome(i)" uk-icon="icon: minus-circle"></a>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <a (click)="addEmptyIncome()" uk-icon="icon: plus-circle">Adicionar </a>
                    </div>
                </div>
            </div> -->
            <div class="uk-width-1-1">
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary" type="submit" [disabled]="form.invalid">
                        Salvar
                    </button>
                </div>
            </div>

            <div id="transactions-modal" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Adicionar Transação</h2>
                    </div>
                    <div class="uk-modal-body transaction-container">
                        <div class="transaction-is-buying">
                            <label class="uk-form-label" for="form-stacked-text">Comprando</label>
                            <input name="transaction-is-buying" [(ngModel)]="transactionAdd.isBuying"
                                class="uk-checkbox" type="checkbox" />
                        </div>
                        <div class="transaction-input">
                            <input placeholder="Valor" name="value_paid" #code="ngModel"
                                [(ngModel)]="transactionAdd.value_paid" class="uk-input" type="number" />
                        </div>
                        <div class="transaction-input">
                            <input placeholder="Quantidade" name="quantity" [(ngModel)]="transactionAdd.quantity"
                                class="uk-input" type="number" />
                        </div>
                        <div class="transaction-input datepicker">
                            <my-date-picker (dateChanged)="onDateChanged($event)" name="mydate"
                                [options]="{dateFormat: 'dd.mm.yyyy'}">
                            </my-date-picker>
                        </div>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary" (click)="addTransaction()"
                            type="button">Adicionar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>