.investimentos-add-container {
  padding: 2vh 0;

  .form-container {
    margin: 5vh 0;
  }
}

.transaction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .transaction-is-buying {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            margin-bottom: 1vh;
        }
    }

    .transaction-input {
        flex: 3;
        margin-left: 1rem;
    }
}
